$green: #4dda6e;
$blue: #4cacff;
$red: #ff4c4c;

$red50: #fff2f2;
$green50: #f2fff5;
$blue50: #f2f9ff;

$red900: #471515;
$green900: #14401d;
$blue900: #153047;

$red950: #0d0404;
$green950: #040d06;
$blue950: #04090d;
